---
platform: linux

image_resource:
  type: docker-image
  source: { repository: maven, tag: 3.5.0-jdk-8-alpine }

inputs:
  - name: ci-pipeline
  - name: graphql-artifact

outputs:
  - name: build

run:
  path: ci-pipeline/tasks/upload/build.sh
