---
platform: linux

image_resource:
  type: docker-image
  source: {repository: hashicorp/terraform, tag: "light"}

inputs:
  - name: ci-pipeline
  - name: graphql-artifact

run:
  path: ci-pipeline/tasks/upload/build.sh
